# Ignore Photoshop files anywhere in the repository
*.psd
*.psd~

# Ignore GIMP files anywhere in the repository
*.xcf
*.xcf~

# Ignore Krita files anywhere in the repository
*.kra
*.kra~

# Ignore tiff files anywhere in the repository
*.tif
*.tif~
